* {
    box-sizing: border-box;
}
:root {
    --bgColorG:#6b8e23;
    --bgColorB:rgb(173, 216, 230);
    --color:rgb(255, 255, 255);
}
body, html  {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}

header {
    background-image: linear-gradient(to bottom right, var(--color),var(--bgColorB),var(--color));
    padding-top: 5rem;
    border-bottom: 2px solid var(--bgColorG);
    border-radius: 10px;
    position: sticky;
    top:0;
   
}
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }
 #logo {
    text-decoration: none;
    color:var(--bgColorB);
    font-family: "Brush Script MT", cursive;
    font-size: 3.5rem;
    position: absolute;
    left:2rem;
    top:1rem;
    font-weight: 900;
    text-shadow: 1px 1px 3px black,-1px -1px 3px black;
 }
.navbar  ul { 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content:center;
    flex-wrap: wrap;
    position: relative;
}

ul li a {
    color:black;
    text-decoration: none;
    display: block;
    padding: .5em;
    margin:.5em;
}
li {
    transition: all 0.5s;
}
#dropdown-ctn {
    display:none;
    position: absolute;
    top:3em;
    box-shadow: 3px 3px 5px var(--bgColorG),-3px -3px 5px var(--bgColorG);  
    background-color: rgb(188, 197, 168);
    text-align: left;
}

#dropdown button {
    border: none;
    color: black;
    font-size :inherit;
    background-color: inherit;
    padding-top: 1em;
    margin: 0;
    
}

li:hover {
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--bgColorG);
}
header #nav-hide {
    border: none;
    background-color: inherit;
    color: black;
    font-size: 2em;
    background-color: inherit;
    display:none;
    position: absolute;
    top:0.8em;
    right: 0;
}
header #nav-hide:hover {
    cursor: pointer;
    color:var(--bgColorG);
}
nav.responsive {
    display: block;
   }
main {
    padding: 2em;
}
h1 {
    color: white;
    text-shadow: 2px 2px 3px black, -1px -1px 3px black;
    box-shadow: -1px -1px 2px black;
    padding: .3em;
    background-color: var(--bgColorB);
    background-clip: content-box;
}
article {
    width: 70%;
    background-color: whitesmoke;
    padding: 1em;
    margin:3em 0 0;
    border-left: 3px ridge var(--bgColorG);
}
article p {
    text-indent: 1.5em;
}
h2 {
    color: var(--bgColorG);
}

footer {
    margin: auto;
    width: 60%;
    display: flex;
    border-top: 4px solid;
    height:30%;
    justify-content: center;
    align-items: center;
}

footer a {
    color:black;
    text-decoration: none;
}
footer a:hover {
    font-size: larger;
    font-weight: 900;
}
@media screen and (max-width:600px) {
    .navbar  {
       display: none;
   }
   header #nav-hide {
       display: block;
   }  
   article {
    width: 100%;
   }
}
